package user

import (
"github.com/abhinavthapa1998/go-templ/view/layout"
"github.com/abhinavthapa1998/go-templ/model"
"github.com/abhinavthapa1998/go-templ/view/components"
)

templ Show(user model.User){
{ctx.Value("user").(string)}
  @layout.Base(){
  <h1>Hello {user.Email}</h1>
  @components.Input("email", "email")
}
